:root {
  --background: #f9f9f9;
  --darkblue: #003479;
  --lightblue: #0d3e80;
  --darkgreen: #39823c;
  --lightgreen: #dff0d8;
  --red: #d43045;
  --midgrey: #eeeeee;
  --darkgrey: #a7a7a7;
}

@font-face {
    font-family: VisbyCF-Bold;
    src: url("assets/fonts/VisbyCF-Bold.eot"),
    url("assets/fonts/VisbyCF-Bold.svg"),
    url("assets/fonts/VisbyCF-Bold.ttf"),
    url("assets/fonts/VisbyCF-Bold.woff"),
    url("assets/fonts/VisbyCF-Bold.woff2");
}

@font-face {
    font-family: VisbyCF-Heavy;
    src: url("assets/fonts/VisbyCF-Heavy.eot"),
    url("assets/fonts/VisbyCF-Heavy.svg"),
    url("assets/fonts/VisbyCF-Heavy.ttf"),
    url("assets/fonts/VisbyCF-Heavy.woff"),
    url("assets/fonts/VisbyCF-Heavy.woff2");
}

/* global */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: VisbyCF-Bold;
  font-size: 13px;
  color: #000;
  margin: 0;
  /* sizing/position to keep footer at bottom */
  position: relative;
  min-height: 100%;
  padding-bottom: 45px;
}

button, input[type=submit] {
  cursor: pointer;
  font-family: inherit;
  border: 0px;
}

a:link, a:visited {
  color: var(--lightblue);
}

.white-text {
  color: #fff;
}

.grey-text {
  color: var(--darkgrey);
}

.heavy {
  font-family: VisbyCF-Heavy;
}

/* header */

.upper-header {
  border-bottom: 2px solid var(--midgrey);
  background-image: url("assets/img/logo.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 75px;
}

.upper-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-left: 90px;
}

#logout-btn {
  background-color: var(--red);
  color: #fff;
  width: 120px;
  height: 40px;
  margin-left: 2px;
}

.account-name, .basket {
  display: flex;
  align-items: center;
}

.upper-header-right i, .upper-header-right p {
  margin: 2px;
}


.lower-header {
  background-image:url("assets/img/hero-background.jpg");
  background-repeat: repeat-x;
}

.profile-details {
  text-align: center;
  padding: 0px 10px;
}

.profile-img {
  background-color: #000;
  border: 2px solid #fff;
  text-align: center;
  width: 125px;
  height: 125px;
  line-height: 122px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#edit-profile-img-btn, #update-detail-btn {
  background-color: var(--darkblue);
  color: #fff;
  padding: 10px 50px;
  margin: auto;
}

#edit-profile-img-btn {
  margin-bottom: 10px;
}

#update-detail-btn {
  border: 2px solid #fff;
  background-color: var(--lightblue);
  display: block;
  margin-top: 10px;
}

.contacts-container {
  display: flex;
}

.email-details, .phone-details {
  flex: 1;
  overflow-wrap: break-word; /* prevent overlap */
}

/* accordion menu */

header nav {
  background-color: #fff;
}

.cd-accordion-menu { /* top level ul */
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.cd-accordion-menu input[type=checkbox] {
  /* hides checkbox, label handles check event instead */
  position: absolute;
  opacity: 0;
}

/* styling for top level items */
.cd-accordion-menu label,
.cd-accordion-menu i,
.cd-accordion-menu li a:link,
.cd-accordion-menu li a:visited {
  font-size: 15px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 10px;
}

/* hover and selected highlighting for top level items */
.cd-accordion-menu input[type=checkbox] + label:hover,
.cd-accordion-menu input[type=checkbox]:checked + label,
.cd-accordion-menu input[type=checkbox]:focus + label,
.cd-accordion-menu li a:link:hover,
.cd-accordion-menu li a:visited:hover {
  background-color: var(--midgrey);
}

/* sub-menu lists, hide by default */
.cd-accordion-menu ul {
  display: none;
  list-style-type: none;
  padding: 0px;
  margin:0px;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

/* make checked top level items change colour */
.cd-accordion-menu input[type=checkbox]:checked+label {
  color: var(--darkblue);
  border-left: 2px solid var(--darkblue);
}

/* sub-menu styling */
.cd-accordion-menu ul li,
.cd-accordion-menu ul li a:link,
.cd-accordion-menu ul li a:visited {
  color: var(--darkgrey);
  font-size: 13px;
  padding-left: 20px;
}

.cd-accordion-menu ul li:hover {
  background-color: var(--midgrey);
}

/* arrows */
.menu-down {
  width: 30px;
  height: 30px;
  filter:brightness(1000%);
  margin-top: -5px; /* align with text */
  float: right;
}

/* rotate arrow when clicked */
.cd-accordion-menu input[type=checkbox]:checked+label .menu-down {
  transform: rotate(180deg);
}

/* main */

/* run details */
.run-details-container {
  border: 1px solid var(--background); /*prevents overflow issue? */
  border-top: 2px solid var(--darkgrey);
  text-align: center;
  padding: 10px;
}

.countdown {
  color: #fff;
  text-align: center;
  background-image:url("assets/img/hero-background.jpg");
  width: 120px;
  height: 120px;
  margin: auto;
  display: table; /* vertical align text */
}

.countdown p { /* verical alignment for countdown text */
  display: table-cell;
  vertical-align: middle;
}

.large-num {
  display: inline-block;
  font-size: 40px;
}

.run-details h2 {
  font-size: 15px;
}

.run-details-btn {
  background-color: var(--darkgreen);
  color: #fff;
  width: 150px;
  height: 50px;
}

.event-info {
  background-color: var(--lightgreen);
  border: 2px solid var(--darkgreen);
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.event-info p {
  margin: 0px;
}

/* store */
.store {
  border: 1px solid var(--darkgrey);
  border-bottom: 3px solid var(--darkblue);
  background-color: #fff;
  text-align: center;
  padding: 30px;
}

.store-item {
  margin-top: 10px; /* space items in mobile view */
}

.store-img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}


.dropdown-container {
  display: flex; /*keep dropdowns side by side */
  justify-content: center;
}

/* dropdown styling */
.select-style select {
  background: transparent;
  width: 70px;
  height: 35px;
  padding: 10px;
  border: 0;
  border-radius: 0;
  -webkit-appearance:none; /* remove gloss in Safari */
}

/* dropdown container - most of the styling is here */
.select-style {
  /*float: left;*/
  background-image:url("assets/img/if_ExpandMore_1031518.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 10px 10px;
  border: 1px solid var(--darkgrey);
  width: 60px;
  height: 35px;
  overflow: hidden; /* cuts off default select arrows */
  margin: 0px 10px;
}

/* make quantity dropdown wider */
.select-style:nth-child(2) select {
  width: 90px;
}

.select-style:nth-child(2) {
  width: 80px;
}

.store-item input[type=submit] {
  background-color: #fff;
  border: 2px solid var(--darkblue);
  color: var(--darkblue);
  width: 150px;
  height: 30px;
  margin-top: 10px;
}

/* footer */

footer {
  background-image: url("assets/img/logo-white.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 100px;
  background-color: var(--darkblue);
  padding: 10px;
  height: 25px;
  /* always position at page bottom */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* shift menu on medium sized screens and above */

@media screen and (min-width: 600px) {

  .upper-header {
    background-size: 140px;
    background-position: 40px center;
  }

  .upper-header-right {
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    height: 75px;
  }

  .account-name, .basket, #logout-btn {
    margin-left: 20px;
  }

  .upper-header-right i, #upper-header-right p {
    margin: 10px;
  }

  .upper-header-right i {
    font-size: 22px;
  }

}

/* desktop style for fullsize screen */

@media screen and (min-width: 950px) {

  /* header */

  .lower-header {
    height: 150px;
    padding-top: 25px;
    box-sizing: border-box;
    justify-content: flex-end;
  }

  header nav {
    width: 250px;
    margin-left: 50px;
    margin-top: 25px;
    float: left;
    border-bottom: 2px solid var(--darkgrey);
  }

  /* profile */

  .profile-details {
    float: left;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 60%;
    display: flex;
    text-align: left;
    padding: 0px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }

  #edit-profile-img-btn {
    width: 100%;
  }

  .profile-detail-container {
    margin-left: 20px;
    margin-top: 105px;
    width: 100%;
  }

  #update-detail-btn {
    float: right;
    margin-top: -15px; /* shift to bottom of header */
  }

  .email-details, .phone-details {
    padding-right: 10px;
  }

  /* main body */
  main {
    width: 60%;
    margin-left: 350px;
  }

  /* run details */
  .run-details-container {
    border-top: 1px solid var(--background);
    margin-top: 10px;
    display: flex;
    text-align: left;
    padding: 0px;
  }

  .countdown {
    width: 150px;
    height: 150px;
    margin: 0px;
    flex: none; /* don't shrink */
  }

  .run-details {
    padding: 0px 10px;
    flex: 1; /* shrinks/grows instead of countdown */
  }

  .run-details h2 {
    font-size: 13px;
    margin-top: 0px;
  }

  /* partial underline for run name */
  .run-details h2:after {
     background-color: var(--darkblue);
     bottom: -5px;
     content: "";
     display: block;
     height: 2px;
     position: relative;
     width: 30px;
 }

  /* aligns run details button and event info if both present */
  .info-btn-container {
    display: flex;
    align-items: center;
  }

  .event-info {
    max-width: 400px;
    margin: 0px 10px 0px 0px;
  }

  .run-details-btn {
    margin-left: auto;
    flex: none;
  }

  /* store */
  .store {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 40px;
  }

  .store-item {
    flex: 1;
    max-width: 200px;
    display: flex; /* used to align order form to bottom */
    flex-direction: column;
  }

  .store-img {
    display: block;
    margin: 0 auto;
  }

  /* aligns order forms independent of item desc size */
  .price-form {
    margin-top: auto;
  }

  .dropdown-container {
    justify-content: flex-start;
  }

  .select-style {
    margin: 0px 20px 0px 0px;
  }

  .store-item input[type=submit] {
    width: 100%;
  }

  /* footer */

  body {
    /* free space for footer to display */
    padding-bottom: 100px;
  }

  footer {
    padding: 20px;
    border-bottom: 20px solid var(--lightblue);
  }

}

/* max sizes for larger screens */

@media screen and (min-width: 1500px) {

  .upper-header-right {
    width: 1300px;
  }

  .profile-details, main {
    width: 900px;
  }

}
